.icon {
  margin: 30px 0 30px 0;
  width: 40px;
  opacity: 70%;
}

.icon::hover {
  opacity: 100%;
}

.link-container {
  margin: 0;
  max-width: 500px;
}

.copyleft {
  display:inline-block;
  transform: rotate(180deg);
}