<footer>
  <br>
  <div>
      <span class="copyleft">©</span> 2019 Keanu Kerr. Made in Scotland.
  </div>
  <div>
    <span class="link-container">
        <a href="https://github.com/keanuk" title="GitHub" class="mat-button" mat-button=""><span class="mat-button-wrapper"><img alt="GitHub" src="assets/logo/GitHub/black.png" class="icon" color="accent"></span><div class="mat-button-ripple mat-ripple" matripple=""></div><div class="mat-button-focus-overlay"></div></a>
        <a href="https://gitlab.com/keanuk" title="GitLab" class="mat-button" mat-button=""><span class="mat-button-wrapper"><img alt="GitLab" src="assets/logo/GitLab/black.svg" class="icon" color="accent"></span><div class="mat-button-ripple mat-ripple" matripple=""></div><div class="mat-button-focus-overlay"></div></a>
        <a href="https://www.linkedin.com/in/keanukerr/" title="LinkedIn" class="mat-button" mat-button=""><span class="mat-button-wrapper"><img alt="LinkedIn" src="assets/logo/LinkedIn/black.png" class="icon" color="accent"></span><div class="mat-button-ripple mat-ripple" matripple=""></div><div class="mat-button-focus-overlay"></div></a>
        <a href="mailto:keanukerr@gmail.com" title="Email" class="mat-button" mat-button=""><span class="mat-button-wrapper"><img alt="Email" src="assets/icons/Email/black.svg" class="icon" color="accent"></span><div class="mat-button-ripple mat-ripple" matripple=""></div><div class="mat-button-focus-overlay"></div></a>
        <a href="assets/documents/Keanu_Resume.pdf" title="Resume" class="mat-button" mat-button=""><span class="mat-button-wrapper"><img alt="Resume" src="assets/icons/Attachment/black.svg" class="icon" color="accent"></span><div class="mat-button-ripple mat-ripple" matripple=""></div><div class="mat-button-focus-overlay"></div></a>
        <!-- <a href="https://twitter.com/thehitchhikerr" title="Twitter" class="mat-button" mat-button=""><span class="mat-button-wrapper"><img alt="Twitter" src="assets/logo/Twitter/black.svg" class="icon" color="accent"></span><div class="mat-button-ripple mat-ripple" matripple=""></div><div class="mat-button-focus-overlay"></div></a>
        <a href="https://www.facebook.com/thehitchhikerr" title="Facebook" class="mat-button" mat-button=""><span class="mat-button-wrapper"><img alt="Facebook" src="assets/logo/Facebook/black.svg" class="icon" color="accent"></span><div class="mat-button-ripple mat-ripple" matripple=""></div><div class="mat-button-focus-overlay"></div></a>
        <a href="https://www.instagram.com/keanukerr/" title="Instagram" class="mat-button" mat-button=""><span class="mat-button-wrapper"><img alt="Instagram" src="assets/logo/Instagram/black.svg" class="icon" color="accent"></span><div class="mat-button-ripple mat-ripple" matripple=""></div><div class="mat-button-focus-overlay"></div></a> -->
    </span>
  </div>
  <div>
    <span><a href="https://github.com/keanuk/personal-site" title="Source">View Source</a></span>
  </div>
  <br>
  <div>
    <span><a href="https://github.com/keanuk/personal-site/issues/new" title="Report">Report an Issue</a></span>
  </div>
</footer>
