
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '@angular/material/theming';

@include mat-core();

$light-primary: mat-palette($mat-gray, 50, 100, 200);
$light-accent:  mat-palette($mat-blue, A200, A100, A400);
$light-warn:    mat-palette($mat-red);
$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);

@include angular-material-theme($light-theme);

$dark-primary: mat-palette($mat-gray, 700, 800, 900);
$dark-accent:  mat-palette($mat-blue, A200, A100, A400);
$dark-warn:    mat-palette($mat-red);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.dark-theme {
  @include angular-material-theme($dark-theme);
}

.elevate-low {
  @include mat-elevation(1);
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: white;
}

mat-toolbar {
  @include mat-elevation(0);
  background-color: mat-color($light-primary, lighter);
  margin: auto;
  padding: auto;
  display: block;
  position: fixed;
  top: 0;
  z-index: 2;
}

mat-toolbar mat-toolbar-row {
  display: block;
  position: fixed;
}

footer {
  background-color: mat-color($light-primary, lighter);
  height: 14rem;
  width: 100%;
  bottom: 0;
  position: relative;
  text-align: center;
  align-content: center;
  margin: auto;
  padding: auto;
  place-items: center center;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}