<body>
  <div class="header-image">Keanu Kerr</div>
  <div class="top-content">
    <section [ngStyle.gt-sm]="{'height.px': 300}" [ngStyle.lt-md]="{'height.px': 800}">
      <div class="card-container" fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutAlign.gt-sm="space-evenly start" fxLayoutAlign.lt-md="space-evenly center" [ngStyle.gt-sm]="{'height.px': 800}" [ngStyle.lt-md]="{'height.px': 800}">
        <div fxFlex="33.33%">
          <mat-card tabindex="0" (click)="goTo('https://github.com/keanuk')" class="external-card">
            <mat-card-content class="card-content">
              <span><img alt="GitHub" src="assets/logo/GitHub/black.png" class="social-icon card-image" color="accent"></span>
              <br>
              <span>View my work on</span>
              <br>
              <span style="font-weight: 500">GitHub</span>      
            </mat-card-content>
          </mat-card>
        </div>
        <div fxFlex="33.33%">
          <mat-card tabindex="0" (click)="goTo('https://www.linkedin.com/in/keanukerr/')" class="external-card">
            <mat-card-content class="card-content">
              <span><img alt="LinkedIn" src="assets/logo/LinkedIn/black.png" class="social-icon card-image" color="accent"></span>
              <br>
              <span>View my profile on</span>
              <br>
              <span style="font-weight: 500">LinkedIn</span>        
            </mat-card-content>
          </mat-card>
        </div>
        <div fxFlex="33.33%">
          <mat-card tabindex="0" (click)="goTo('mailto:keanukerr@gmail.com')" class="external-card">
            <mat-card-content class="card-content">
              <span><img alt="Email" src="assets/icons/Email/black.svg" class="social-icon card-image" color="accent"></span>
              <br>
              <span>Send me an </span>
              <br>
              <span style="font-weight: 500">Email</span>      
            </mat-card-content>
          </mat-card>
        </div>     
      </div> 
    </section>
  </div>
  <div class="main-content">
    <div>
      <section class="topic">
        <h2>About Me</h2>
        <p class="aboutMe">
          <span>
            My name is Keanu Kerr and I am currently a software engineer at General Motors.
            I am an alumni of the University of Edinburgh where I graduated with a master of 
            science in informatics. I previously graduated from the University of Florida where 
            I obtained a bachelor of science in computer science along with a minor in studio art.
          </span>
        </p>
      </section>      
    </div>
    <div class="center-text">
      <section class="topic">
        <a href="assets/documents/Keanu_Kerr_Resume.pdf" title="Resume" class="mat-button" mat-button=""><span class="mat-button-wrapper attachment-link"><img alt="Resume" src="assets/icons/Attachment/black.svg" class="attachment" color="accent">Download My Resume</span><div class="mat-button-ripple mat-ripple" matripple=""></div><div class="mat-button-focus-overlay"></div></a>
      </section>
    </div>
    <br>
    <div class="gray">
      <section class="topic">
        <div class="center-text">
          <h2>Education</h2>
          <ul class="no-dot-list">
            <li class="subtitle">University of Edinburgh</li>
            <li>MSc in Informatics</li>
            <li class="subtitle">University of Florida</li>
            <li>BSc in Computer Science</li>
            <li>Minor in Studio Art</li>
          </ul>
        </div>
      </section>
    </div>
    <div>
      <section class="topic">
        <h2>Skills</h2>
        <div class="skill-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly start" fxLayoutAlign.xs="space-evenly center">
          <div fxFlex="33.33%">
            <span class="subtitle">Programming Languages</span>
            <br>
            <ul class="no-dot-list">
              <li>Java</li>
              <li>Python</li>
              <li>TypeScript</li>
              <li>JavaScript</li>
              <li>Rust</li>
              <li>Go</li>
              <li>C++</li>
              <li>C</li>
              <li>Bash</li>
            </ul>
          </div>
          <div fxFlex="33.33%">
            <span class="subtitle">Frameworks & APIs</span>
            <br>
            <ul class="no-dot-list">
              <li>Spring Framework</li>
              <li>JAX-RS</li>
              <li>Node</li>
              <li>Angular</li>
              <li>Elasticsearch</li>
              <li>PyTorch</li>
            </ul>
          </div>
          <div fxFlex="33.33%">
            <span class="subtitle">Technologies & Services</span>
            <br>
            <ul class="no-dot-list">
              <li>Linux</li>
              <li>Git</li>
              <li>REST</li>
              <li>GraphQL</li>
              <li>SQL</li>
              <li>Docker</li>
              <li>Kubernetes</li>
              <li>AWS</li>
              <li>Azure</li>
            </ul>
          </div>     
        </div> 
      </section>
    </div>
    <div class="gray">
      <section class="topic">
        <h2>Work Experience</h2>
        <p>
          <span class="subtitle">Software Engineer, General Motors <span class="sub-year">February 2020 - Present</span></span>
          <br>
          <span>
            <ul class="dot-list">
              <li>Created REST APIs using Spring Framework and JAX-RS integrating with SQL databases</li>
              <li>Increased performance of search APIs by deploying and integrating Elasticsearch cluster</li>
              <li>Employed TDD and CI/CD practices using Docker and Kubernetes clusters hosted on Azure</li>
            </ul>
          </span> 
        </p>
        <p>
          <span class="subtitle">Software Engineer Intern, Elgato <span class="sub-year">May - August 2016</span></span>
          <br>
          <span>
            <ul class="dot-list">
              <li>Created test overlays for Game Capture software written in JavaScript</li>
              <li>Worked on internal metrics monitoring page written in Angular</li>
              <li>Used Git to collaborate with other teams of developers on internal web applications</li>
            </ul>
          </span> 
        </p>
        <p>
          <span class="subtitle">Software Engineer Student, Rapid Genomics <span class="sub-year">January - April 2016</span></span>
          <br>
          <span>
            <ul class="dot-list">
              <li>Full stack web development with MEAN stack to develop genome sequence monitoring page</li>
              <li>Emphasized front end design and improved communication performance with Mongo DB</li>
              <li>Used Git for collaboration and adhered to Agile principles</li>
            </ul>
          </span>
        </p>
      </section>
    </div>
    <div>
      <section class="topic">
        <h2>Projects</h2>
        <p>
          <span class="subtitle">University of Edinburgh MSc Dissertation<span class="sub-year">April - August 2019</span></span>
          <br>
          <span>
            <ul class="dot-list">
              <li>Created multiplayer role-playing game in Java with JavaFX and peer-to-peer networking</li>
              <li>Designed using OO design patterns with intent of being used as a learning tool for students</li>
              <li>Created documentation for setup and possible ways to extend functionality</li>
            </ul>
          </span>
        </p>
        <p>
          <span class="subtitle">University of Florida Senior Project<span class="sub-year">January - May 2018</span></span>
          <br>
          <span>
            <ul class="dot-list">
              <li>Built front end for Angular web application allowing users to create custom game characters</li>
              <li>Integrated with back-end service written in Go to store user profiles and character data</li>
              <li>Self-hosted website and related components on home server</li>
            </ul>
          </span>        
        </p>
      </section>
    </div>
    <div class="gray">
      <section class="topic">
        <h2>Community Involvement</h2>
        <p>
          <span class="subtitle">Historian, Women in Computer Science <span class="sub-year">2017-2018</span></span>
          <br>
          <span>
            <ul class="dot-list">
              <li>Advertised for club meetings and events across social media</li>
              <li>Produced content for advertisements through photography and graphic design</li>
              <li>Led tabling efforts and community outreach on campus</li>
            </ul>
          </span>        
        </p>
      </section>
    </div>
  </div>
  <div class="gray bottom-padding"></div>
</body>
