<div style="width: 100%">
  <div class="header-image">Keanu Kerr</div>
  <section>
    <mat-grid-list cols=3 gutterSize="16px">
      <mat-grid-tile>
        <mat-card tabindex="0" (click)="goTo('https://github.com/keanuk')" class="external-card">
          <mat-card-content class="card-content">
            <span><img alt="GitHub" src="assets/logo/GitHub/black.png" class="social-icon card-image" color="accent"></span>
            <br>
            <span>View my work on</span>
            <br>
            <span style="font-weight: 500">GitHub</span>      
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
          <mat-card tabindex="0" (click)="goTo('https://www.linkedin.com/in/keanukerr/')" class="external-card">
            <mat-card-content class="card-content">
                <span><img alt="LinkedIn" src="assets/logo/LinkedIn/black.png" class="social-icon card-image" color="accent"></span>
                <br>
                <span>View my profile on</span>
                <br>
                <span style="font-weight: 500">LinkedIn</span>        
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card tabindex="0" (click)="goTo('mailto:keanukerr@gmail.com')" class="external-card">
              <mat-card-content class="card-content">
                  <span><img alt="Email" src="assets/icons/Email/black.svg" class="social-icon card-image" color="accent"></span>
                  <br>
                  <span>Send me an </span>
                  <br>
                  <span style="font-weight: 500">Email</span>      
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>      
    </mat-grid-list>
  </section>
  <div class="main-content">
    <section class="section about-me">
      <h2>About Me</h2>
      <p>
        I am a software developer.
      </p>
    </section>
    <section class="section education">
        <h2>Eductation</h2>
        <ul>
          <li>University of Florida</li>
          <li>B.S. in Computer Science</li>
          <li>Minor: Studio Art</li>
        </ul>
    </section>
    <section class="section skills">
      <h2>Skills</h2>
      <mat-grid-list cols="3">
        <mat-grid-tile>
          <span>
            <h4>Programming Languages</h4> 
            <ul>
              <li>TypeScript</li>
              <li>Python</li>
              <li>Java</li>
              <li>C++</li>
              <li>C</li>
            </ul>
          </span>
        </mat-grid-tile>
        <mat-grid-tile>
          <span>
            <h4>Technology</h4>
            <ul>
              <li>*nix shell</li>
              <li>Git</li>  
              <li>Angular</li>
              <li>Node.js</li>
              <li>jQuery</li>
              <li>Mongo</li>
              <li>SQL</li>
              <li>PyTorch</li>
              <li>JIRA</li>
              <li>Agile Development</li>
            </ul>
          </span>
        </mat-grid-tile>
        <mat-grid-tile>
          <span>
            <h4>Miscellaneous</h4>
            <ul>
              <li>Adobe Creative Cloud</li>
              <li>Invision</li>
              <li>UX Design</li>
              <li>Fluent in German</li>
            </ul>
          </span>
        </mat-grid-tile> 
      </mat-grid-list>   
    </section>
    <section class="section experience">
      <h2>Work Experience</h2>
      <p>
          Software Developer Intern, Elgato; Munich, Germany - Summer 2016 
          Created overlays for Game Capture software
          Worked on internal downloads monitoring web page 
          Collaborated in teams of developers using GitHub to build overlays 
          Programmed extensively in Javascript, HTML, CSS, and Ruby
      </p>
      <p>
          Software Engineering Student, Rapid Genomics; Gainesville, Florida - Spring 2016
          Maintained communication between group and our client as Project Manager
          Adhered to Agile principles throughout the development process
          Implemented MEAN stack to develop a consumer facing site to track genome sequencing
      </p>
      <p>
          UX Design Intern, Clarus Agency (Inmar); Austin, Texas - Summer 2015 
          Designed wireframes for iOS, Android, and Web applications
          Used Adobe Creative Cloud tools such as Photoshop and Illustrator
          Used Invision to make interactive mockups for applications        
      </p>
    </section>
    <section class="section projects">
      <h2>Student Projects</h2>
      <p>
          Senior Project - Spring 2018
          Built front end Angular 5 web application allowing users to create D&D characters
          Worked in a group to create custom GoLang server to store data
          Self-hosted the website on a home server and gave it a custom URL        
      </p>
      <p>
          Object Oriented Programming - Spring 2018
          Designed RPG in Java using MVC design pattern and following OOP principles
          Implemented the design in groups over 3 iterations
      </p>
    </section>
    <section class="section community">
      <h2>Community Involvement</h2>
      <p>
          Historian, Women in Computer Science - 2017-2018
          Advertised for club meetings and events across social media
          Produced content for advertisements through photography and graphic design
          Led tabling efforts and community outreach on campus        
      </p>
    </section>
  </div>
</div>
<br><br><br>