<!DOCTYPE html>
<body>
  <div class="header-image">Keanu Kerr</div>
  <div class="top-content">
    <section class="card-section" style="height:300px" [ngStyle.sm]="{'height.px': 800}" [ngStyle.xs]="{'height.px': 800}" [ngStyle.md]="{'height.px': 300}" [ngStyle.lg]="{'height.px': 300}" [ngStyle.xl]="{'height.px': 300}">
      <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="space-evenly center" class="card-container" [ngStyle.sm]="{'height.px': 800, 'left.px': -145}" [ngStyle.xs]="{'height.px': 800, 'left.px': -145}">
        <div fxFlex="33%">
          <mat-card tabindex="0" (click)="goTo('https://github.com/keanuk')" class="external-card">
            <mat-card-content class="card-content">
              <span><img alt="GitHub" src="assets/logo/GitHub/black.png" class="social-icon card-image" color="accent"></span>
              <br>
              <span>View my work on</span>
              <br>
              <span style="font-weight: 500">GitHub</span>      
            </mat-card-content>
          </mat-card>
        </div>
        <div fxFlex="33%">
          <mat-card tabindex="0" (click)="goTo('https://www.linkedin.com/in/keanukerr/')" class="external-card">
            <mat-card-content class="card-content">
              <span><img alt="LinkedIn" src="assets/logo/LinkedIn/black.png" class="social-icon card-image" color="accent"></span>
              <br>
              <span>View my profile on</span>
              <br>
              <span style="font-weight: 500">LinkedIn</span>        
            </mat-card-content>
          </mat-card>
        </div>
        <div fxFlex="33%">
          <mat-card tabindex="0" (click)="goTo('mailto:keanukerr@gmail.com')" class="external-card">
            <mat-card-content class="card-content">
              <span><img alt="Email" src="assets/icons/Email/black.svg" class="social-icon card-image" color="accent"></span>
              <br>
              <span>Send me an </span>
              <br>
              <span style="font-weight: 500">Email</span>      
            </mat-card-content>
          </mat-card>
        </div>     
      </div> 
    </section>
  </div>
  <div class="main-content">
    <div>
      <section class="topic">
        <h2>About Me</h2>
        <p class="aboutMe">
          <span>
            My name is Keanu Kerr and I am an alumni of the University of Florida College of Engineering. I graduated with a bachelor of sciense degree in Computer Science and a minor in Studio Art. I try to combine the two fields in my work by focusing on design and user experience. I also integrate object oriented principles and design patterns into my programming work.
          </span>
        </p>
      </section>      
    </div>
    <div class="center-text">
      <section class="topic">
        <a href="assets/documents/Keanu_Resume.pdf" title="Resume" class="mat-button" mat-button=""><span class="mat-button-wrapper attachment-link"><img alt="Resume" src="assets/icons/Attachment/black.svg" class="attachment" color="accent">Download My Resume</span><div class="mat-button-ripple mat-ripple" matripple=""></div><div class="mat-button-focus-overlay"></div></a>
      </section>
    </div>
    <div class="gray">
      <section class="topic">
        <div class="center-text">
          <h2>Education</h2>
          <ul class="no-dot-list">
            <li>University of Florida</li>
            <li>B.S. in Computer Science</li>
            <li>Minor in Studio Art</li>
          </ul>
        </div>
      </section>
    </div>
    <div>
      <section class="topic">
        <h2>Skills</h2>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly start" fxLayoutAlign.xs="space-evenly center" class="skill-container">
          <div fxFlex="33%">
            <span class="subtitle">Languages</span>
            <br>
            <ul class="no-dot-list">
              <li>TypeScript</li>
              <li>Python</li>
              <li>Java</li>
              <li>C++</li>
              <li>C</li>
              <li>HTML</li>
              <li>CSS</li>
            </ul>
          </div>
          <div fxFlex="33%">
            <span class="subtitle">Technology</span>
            <br>
            <ul class="no-dot-list">
              <li>*nix Shell</li>
              <li>Git</li>
              <li>Node.js</li>  
              <li>Angular</li>
              <li>jQuery</li>
              <li>PyTorch</li>
              <li>Mongo</li>
              <li>SQL</li>
            </ul>
          </div>
          <div fxFlex="33%">
            <span class="subtitle">Miscellaneous</span>
            <br>
            <ul class="no-dot-list">
              <li>Adobe CC</li>
              <li>Invision</li>
              <li>UI Design</li>
              <li>UX Design</li>
              <li>Agile Development</li>
              <li>Fluent in German</li>
            </ul>
          </div>     
        </div> 
      </section>
    </div>
    <div class="gray">
      <section class="topic">
        <h2>Work Experience</h2>
        <p>
          <span class="subtitle">Software Developer Intern, Elgato <span class="sub-year">Summer 2016</span></span>
          <br>
          <span>
            <ul class="dot-list">
              <li>Created overlays for Game Capture software</li>
              <li>Worked on internal downloads monitoring web page</li>
              <li>Collaborated in teams of developers using GitHub to build overlays</li>
              <li>Programmed extensively in Javascript, HTML, CSS, and Ruby</li>
            </ul>
          </span> 
        </p>
        <p>
          <span class="subtitle">Software Engineering Student, Rapid Genomics <span class="sub-year">Spring 2016</span></span>
          <br>
          <span>
            <ul class="dot-list">
              <li>Maintained communication between group and our client as Project Manager</li>
              <li>Adhered to Agile principles throughout the development process</li>
              <li>Implemented MEAN stack to develop a consumer facing site to track genome sequencing</li>
            </ul>
          </span>
        </p>
        <p>
          <span class="subtitle">UX Design Intern, Inmar <span class="sub-year">Summer 2015</span></span>
          <br>
          <span>
            <ul class="dot-list">
              <li>Designed wireframes for iOS, Android, and Web applications</li>
              <li>Used Adobe Creative Cloud tools such as Photoshop and Illustrator</li>
              <li>Used Invision to make interactive mockups for applications</li>
            </ul>
          </span>        
        </p>
      </section>
    </div>
    <div>
      <section class="topic">
        <h2>Student Projects</h2>
        <p>
          <span class="subtitle">UF Senior Project <span class="sub-year">Spring 2018</span></span>
          <br>
          <span>
            <ul class="dot-list">
              <li>Built front end for Angular web application allowing users to create custom game characters</li>
              <li>Worked in a group to create custom GoLang server to store data</li>
              <li>Self-hosted the website on a home server and gave it a custom URL</li>
            </ul>
          </span>        
        </p>
        <p>
          <span class="subtitle">Object Oriented Programming <span class="sub-year">Spring 2018</span></span>
          <br>
          <span>
            <ul class="dot-list">
              <li>Designed RPG in Java using MVC design pattern and following OOP principles</li>
              <li>Implemented the design in groups over 3 iterations</li>
            </ul>
          </span>
        </p>
      </section>
    </div>
    <div class="gray">
      <section class="topic">
        <h2>Community Involvement</h2>
        <p>
          <span class="subtitle">Historian, Women in Computer Science <span class="sub-year">2017-2018</span></span>
          <br>
          <span>
            <ul class="dot-list">
              <li>Advertised for club meetings and events across social media</li>
              <li>Produced content for advertisements through photography and graphic design</li>
              <li>Led tabling efforts and community outreach on campus</li>
            </ul>
          </span>        
        </p>
      </section>
    </div>
  </div>
  <div class="gray bottom-padding"></div>
</body>
