ul{
  list-style-type: none;
}

p {
  margin: 0 5% 0 5%;
}

section {
  width: 100vw;
}

mat-card {
  border-radius: 8px;
}

.header-image {
  height: 200px;
  width: 100%;
  text-align: center;
  font-size: 72pt;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .3);
  padding-top: 200px;
  min-width: 100%;
  position: relative;
  font-weight: bold;
  color: black;
  z-index: 1;
}

.header-image::before {
  background-image: linear-gradient(to right bottom, #aae4ff, #eefeff);
  background-size: cover;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  z-index: -2;
}  

.card-container {
  margin: auto;
  text-align: center;
  position: relative;
  vertical-align: middle;
  width: 100%;
}

.external-card {
  width: 250px;
  height: 200px;
  z-index: 2;
  position: absolute;
  text-align: center;
  margin: auto;
  cursor: pointer;
}

.external-card:hover {
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.8);
}

.external-card:focus {
  outline: none;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.8);
}

.card-content {
  height: 200px;
  margin: auto;
  font-size: 20pt;
  font-weight: 200;
  padding: 20px 15px 0 15px;
}

.card-image {
  width: 60px;
}

.top-content {
  text-align: center;
  font-size: 18pt;
  max-width: 900px;
  margin: auto;
}

.main-content {
  text-align: center;
  font-size: 18pt;
  max-width: 600px;
  margin: auto;
  position: relative;
}

.topic {
  padding: 50px 0 50px 0;
  width: 100%;
  left: 0;
  margin: 0 0 1rem 0;
}


